numpy
pandas
scipy
matplotlib
lxml
requests
faster-whisper
librosa
soundfile
praat-parselmouth
unidecode
statsmodels
tqdm
spacy==3.8.16
cmudict==1.1.3
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
